/* OVERLAY */
.overlay {
  position: relative;
  display: block;
  overflow: hidden;
}
.overlay img {
  display: block;
  width: 100%;
  height: 100%;
}
.overlay .overlay-shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: rgba(21, 112, 166, 0.9);
}
